.bio {
    max-width: 725px;
    margin: 20px auto 0;
    display: flex;
    align-items: center
}

.bio aside {
    margin-right: 20px;
}

.bio, .headline {
    font-size: 1.25em;
}

.headline {
    margin: 0;
}

.avatar {

}

@media screen and (max-width: 800px)  {
    .bio, .headline {
        font-size: 1.15em;
    }
}